.nav_btn {
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    width: 141px;
    height: 41.694px;
    flex-shrink: 0;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    color: #26C6EA;
    text-align: center;
    font-family: HeadlandOne;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}