@import url(./header.css);
@import url(./img.css);
@import url(./madia.css);
@import url(./main.css);
@import url(./switch.css);

.header_switcher{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Hammersmith One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
a {
    text-decoration: none;
  }

li {
    list-style-type: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}