.quote h2 {
    color: #0A3853;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.quote h3 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.quote img {
    display: block;
    margin: 0 auto;
}



.quote {
    padding: 75px 0 10px 0;
}