@import url(./style.css);
@import url(./header.css);
@import url(./promo.css);
@import url(./img.css);
@import url(./main.css);
@import url(./center.css);
@import url(./h.css);
@import url(./lang.css);
@import url(./switch.css);
@import url(./btn.css);
@import url(./logo.css);
@import url(./join.css);
@import url(./trailer.css);
@import url(./futer.css);


a {
    text-decoration: none;
  }

li {
    list-style-type: none;
}


.container {
    width: 1140px;
    margin: 0 auto;
}


.header_switcher {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: Hammersmith One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}