.trailer_button {
    width: 260px;
    height: 80px;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    color: #26C7EA;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    
    .trailer_button a {
        color: #26C7EA;
    text-align: justify;
    font-family: HeadlandOne;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    
    
    
    
    .trailer_button:hover {
        cursor: pointer;
    }
    
    
    
    .trailer {
        background: url(../../img/bag3.png) center / cover no-repeat;
        height: 741px;
    }
    
    
    .trailer
    .container  {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }